@import "./config.scss";
@import "./framework.scss";

body {
  background: $ct-body-bg;
  font-family: $font-Montserrat;
  font-size: $ct-body-font-size;
}

.container {
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.bd-example {
  margin-top: 10px;
}

.section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}
